<?xml version="1.0" encoding="Shift_JIS"?>

 <!-- ROOT Web.xml -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

  <!-- PART03 web.xml -->

  <filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>filter.EncodingFilter2</filter-class>
  	<init-param>
  		<param-name>encode</param-name>
  		<param-value>Windows-31J</param-value>
  	</init-param>
  </filter>

   <filter>
  	<filter-name>DebugFilter</filter-name>
  	<filter-class>filter.DebugFilter</filter-class>
  </filter>

  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
<!--
  <filter-mapping>
  	<filter-name>DebugFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
-->

	<context-param>
		<param-name>appkey1</param-name>
		<param-value>appvalue1</param-value>
	</context-param>
	<context-param>
		<param-name>appkey2</param-name>
		<param-value>appvalue2</param-value>
	</context-param>

	<servlet>
		<servlet-name>LifeCycleServlet</servlet-name>
		<servlet-class>app.LifeCycleServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ApplicationCounterServlet</servlet-name>
		<servlet-class>app.ApplicationCounterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RoughCounterServlet</servlet-name>
		<servlet-class>app.RoughCounterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InitParamServlet</servlet-name>
		<servlet-class>init.InitParamServlet</servlet-class>
		<init-param>
			<param-name>key1</param-name>
			<param-value>value1</param-value>
		</init-param>
		<init-param>
			<param-name>key2</param-name>
			<param-value>value2</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>AppInitParamServlet</servlet-name>
		<servlet-class>init.AppInitParamServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ContextFileServlet</servlet-name>
		<servlet-class>init.ContextFileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ClassPathFileServlet</servlet-name>
		<servlet-class>init.ClassPathFileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BBSServlet</servlet-name>
		<servlet-class>init.BBSServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BBSServlet2</servlet-name>
		<servlet-class>init.BBSServlet2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserInfoServlet</servlet-name>
		<servlet-class>http.UserInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RedirectServlet</servlet-name>
		<servlet-class>http.RedirectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BBSServlet3</servlet-name>
		<servlet-class>http.BBSServlet3</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CookieCounterServlet</servlet-name>
		<servlet-class>cookie.CookieCounterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BBSServlet4</servlet-name>
		<servlet-class>cookie.BBSServlet4</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LifeCycleServlet</servlet-name>
		<url-pattern>/servlet/LifeCycleServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApplicationCounterServlet</servlet-name>
		<url-pattern>/servlet/ApplicationCounterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RoughCounterServlet</servlet-name>
		<url-pattern>/servlet/RoughCounterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InitParamServlet</servlet-name>
		<url-pattern>/servlet/InitParamServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AppInitParamServlet</servlet-name>
		<url-pattern>/servlet/AppInitParamServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContextFileServlet</servlet-name>
		<url-pattern>/servlet/ContextFileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClassPathFileServlet</servlet-name>
		<url-pattern>/servlet/ClassPathFileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BBSServlet</servlet-name>
		<url-pattern>/servlet/BBSServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BBSServlet2</servlet-name>
		<url-pattern>/servlet/BBSServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserInfoServlet</servlet-name>
		<url-pattern>/servlet/UserInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RedirectServlet</servlet-name>
		<url-pattern>/servlet/RedirectServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BBSServlet3</servlet-name>
		<url-pattern>/servlet/BBSServlet3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CookieCounterServlet</servlet-name>
		<url-pattern>/servlet/CookieCounterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BBSServlet4</servlet-name>
		<url-pattern>/servlet/BBSServlet4</url-pattern>
	</servlet-mapping>

</web-app>